@font-face {
	font-family: Minecraft;
	src: url("Minecraft.otf");
}

.sign {
	/* Reset all margins & paddings */
	margin: 0;
	padding: 0;

	/* Text settings */
	font-family: Minecraft, sans-serif;
	font-size: 17px;

	/* Misc settings */
	line-height: 1;
	box-sizing: border-box;
	white-space: nowrap;
	transform: translate(-50%, -50%);

	/* Double sided signs */
	display: grid;
	gap: 0.5em;
}

/* Reset all margins & paddings */
.sign * {
	margin: 0;
	padding: 0;
}

.sign-side {
	/* Size settings */
	width: 144px;
	aspect-ratio: 24 / 12;

	/* Sign texture */
	background: center / cover no-repeat url("sign_oak.png");

	/* Pixel Scaling filter */
	-ms-interpolation-mode: nearest-neighbor; /* IE 7+ (non-standard property) */
	image-rendering: -webkit-crisp-edges; /* Safari 6 - 9 */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6 - 64 */
	image-rendering: crisp-edges; /* Firefox 65+ */
	image-rendering: pixelated; /* Chrome 41+, Edge 76+, Safari 10+ */

	/* Center text */
	display: grid;
	place-content: center;
	text-align: center;
}

.sign-side > span {
	/* Always show the full four lines, even if they're empty */
	min-height: 1em;
}

.glowing {
	text-shadow: -0.1em -0.1em 0 var(--sign-glow-colour, white),
	0 -0.1em 0 var(--sign-glow-colour, white),
	0.1em -0.1em 0 var(--sign-glow-colour, white),
	0.1em 0 0 var(--sign-glow-colour, white),
	0.1em 0.1em 0 var(--sign-glow-colour, white),
	0 0.1em 0 var(--sign-glow-colour, white),
	-0.1em 0.1em 0 var(--sign-glow-colour, white),
	-0.1em 0 0 var(--sign-glow-colour, white);
}
